.about{
    padding: 80px 33px;
}
.about__tital{
    font-weight: 300;
font-size: 48px;
line-height: 65px;
text-align: center;
letter-spacing: 0.1em;
margin-bottom: 60px;
}
.info-box__tital{
    font-weight: 700;
font-size: 21px;
line-height: 29px;
text-align: center;
letter-spacing: 0.1em;
margin-bottom: 40px;
}
.info-box__text{
    font-weight: 400;
font-size: 14px;
line-height: 150%;
text-align: center;
margin-bottom: 27px;
}
.about__img-box{
    display: none;
}
.fact-box__tital{
    font-weight: 700;
font-size: 21px;
line-height: 29px;
text-align: center;
letter-spacing: 0.1em;
margin-bottom: 40px;
}
.block:not(:last-child){
    margin-right: 60px;
}
@media screen and (min-width: 768px){
    .about{
        display: flex;
        justify-content: center;
        padding: 90px 35px;
    }
    .about__global-box{

    }
    .about__box{
        display: flex;
    }
    .flex{
        display: block;
    }
    .about__info-box{
        width: 445px;
        text-align: left;
        margin-right: 30px;
    }
    .about__fact-box{
        width: 250px;
    }
    .info-box__tital{
        text-align: left;
    }
    .info-box__text{
        text-align: left;
    }
    .fact-box__tital{
        font-weight: 700;
font-size: 19px;
line-height: 29px;
letter-spacing: 0.1em;
        text-align: left;
    }
    .block:not(:last-child){
        margin-bottom: 30px;
    }

}