body{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    background-color: $color-background;
    color: $color-white;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .list{
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  .link{
    text-decoration: none;
  }
  .yellow{
    color: $color-gold;
  }
  .flex{
    display: flex;
    justify-content: center;
  }
  .block{
    display: block;
  }