.grade{
    position: relative;
    width: 100%;
    height: 550px;
    background-image: url(../imeges/star.jpg);
    padding: 50px 33px;
}
.yo{
}
.yo__text{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
color: $color-gold;
}
.grade__info-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.grade__info-item:not(:last-child){
margin-right: 20px;
}
.grade__text{
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
}
.grade__info-list{

}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .grade{
        width: 576px;
        margin: 0 auto;
    }

}