.header{
    background-image: url(../imeges/header1.png);
    position: relative;
    width: 100%;
    padding: 50px 33px 0px 33px;
    height: 600px;
    &__box-desk{
        display: none;
    }
    &__contact-text{
        display: none;
    }
    &__box{
        position: absolute;
        padding: 30px;
        width: 320px;
        background-color: $color-background;
        left: 0;
        top: 0;
        z-index: 1;
    }
    &__list{
        display: flex;
        gap: 45px;
        width: 140px;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 110px;
    }
    .header__icon-box{
        fill: $color-white;
        width: 45px;
        height: 45px;

    }
    .nav{
        &__list{
            padding-bottom: 98px;
            padding-top: 140px;
        }
        &__item:not(:last-child){
            margin-bottom: 35px;
        }
        &__link{
font-size: 24px;
line-height: 33px;
color: $color-white;
        }
    }
    .header__icon-open{
        z-index: 5;
    }
    .header__icon-close{
        z-index: 5;
    }
    .header__button-icon{
        position: absolute;
        top:50px;
        left: 33px;
        width: 40px;
        height: 40px;
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
    }
    .header__icon-close{
        display: none;
        position: absolute;
    }
    .header__box{
        transform: translateX(-300%);
        transition: transform 250ms $cubic;
        &.is-open{
            transform: translateY(0%);
        }
    }
    // .header__box{
    //     display: none;
    // }
    // .header__box.is-open{
    //     display: block;
    // }

    .is-open.header__icon-open{
        display: none;
    }
    .header__tel{
        position: absolute;
        top: 56px;
        right: 33px;
        font-weight: 700;
font-size: 16px;
line-height: 22px;
color: $color-white;
border-bottom: 2px solid $color-gold;
    }
    .header__info{
margin-top: 125px;
    }
    .header__tital{
        font-weight: 700;
font-size: 45px;
line-height: 60px;
letter-spacing: 0.1em;
color: $color-white;
margin-bottom: 50px;
    }
    .header__text{
        font-weight: 400;
font-size: 14px;
line-height: 150%;
color: $color-white;
margin-bottom: 50px;
    }
    .header__button{
        font-weight: 700;
font-size: 18px;
line-height: 25px;
color: $color-white;
padding: 15px 50px;
background-color: $color-gold;
border: none;
    }
    
    
}
.card{
    display: none;
}
.helper{
    display: none;
}
@media screen and (min-width: 577px) and (max-width: 767px) {
    .header{
        background-image: url(../imeges/header2.jpg);
    }

}
@media screen and (min-width: 768px){
    .header{
        background-image: url(../imeges/header2.jpg);
    }
    .header{
        padding: 50px 39px;
        height: 800px;
    }
//     .header.header__info{
//         margin-top: 196px;
//  }
.header__tital{
    font-weight: 700;
font-size: 64px;
line-height: 87px;
letter-spacing: 0.1em;
    margin-top: 196px;
}
.header__text{
    width: 540px;
}
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .header{
        background-image: url(../imeges/header3.jpg);
    }

}
@media screen and (min-width: 992px){
    .header{
        background-image: url(../imeges/header4.jpg);
        position: relative;
        height: 1045px;
        // width: 992px;
        // margin: 0 auto;
    }
    .header__info{
        position: absolute;
        width: 540px;
        margin-left: 191px;
    }
    .header__button-icon{
        display: none;
        z-index: -1;
    }
    .header
    {
        
    &__box-desk{
        display: block;
    }

}
.box-grey-desk{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.75);
    width: 150px;
    height: 1045px;
}
.header__contact-text-desk{
    margin-top: 250px;
    margin-left: 62px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #C4C4C4;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}
.header__contact-decoration-desk{
    margin-top: 40px;
    margin-left: 75px;
    margin-bottom: 40px;
    height: 80px;
    border-left: 3px solid #C4C4C4;
}
.header__icon-box-desk{
    transition: fill 250ms $cubic;
    fill: #C4C4C4;
    width: 26px;
    height: 26px;
}
.header__icon-box-desk:hover,
.header__icon-box-desk:focus{
    color: $color-gold;
}
.nav-desk{
    position: absolute;
    top: 50px;
    margin-left: 120px;
}
.header__item-desk{
    margin-left: 64px;
}
.header__item-desk:not(:last-child){
    margin-bottom: 30px;
}
.nav__list-desk{
    display: flex;
}
.nav__item-desk{
    font-weight: 700;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.1em;
    color: $color-white;
}
.nav__link-desk{
    color: $color-white
}
.nav__item-desk:not(:last-child){
    margin-right: 30px;
}
.header__tel{
    display: none;
}
.header__tel-desk{
    position: absolute;
    top: 126px;
    left: 437px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $color-white;
    border-bottom: 2px solid $color-gold;

}
}
@media screen and (min-width: 1060px){
    .nav-desk{
        position: relative;
        display: flex;
        justify-content: center;
    }
       .nav__list-desk{
        position: relative;
        margin: 0 auto;
    }
    .nav-help{
        display: flex;
        margin: 0 auto;
        width: 992px;
    }
    .header__tel-desk{
        position: absolute;
        top: 50px;
        left: 5px;
        z-index: 3;
    }
}
@media screen and (min-width: 1400px){
    .header{
        padding-top: 0;
    }
    .card{
        position: relative;
        display: block;
        width: 370px;
        max-height: 570px;
        margin-left: 1000px;
        margin-top: 267px;
    }
    .ntd1{
        position: absolute;
        z-index: 10;
    }
    .ntd2{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .button__list{
        display: none;
        display: flex;
        position: absolute;
        top: 510px;
    }
    .header__info{
        margin-left: 350px;
    }
    
}